* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Open Sans", serif;
  line-height: 120%;
}

body{
  background-color: #F5F4F0;
  color: #333333;
}

#page {
  box-sizing: border-box;
  width: 1120px;
  margin: 120px auto 89px;
}

img {
  border-radius: 28px;
  width: 100%;
  vertical-align: top;
}

main {
  padding: 24px;
}

h1, h2, h3 {
  color: #1B1B1B;
}

h1, h2 {
  margin-bottom: 4px;
  line-height: 150%;
}

h1 {
  line-height: 136%; 
  font-size: 36px;  
}

h2 {
  line-height: 75%; 
  font-size: 32px;
}

h3 {
  font-size: 28px; 
}

h4 {
  line-height: 135%;  
  font-size: 16px;
  font-weight: bold;
  color: #E1624F;
  text-transform: uppercase;
}

h5{
  font-size: 16px;
}

ul{  
  padding-left: 24px;
}

ul.bluelist li{  
  color: #0C51A7;
  font-weight: bold;
}

ul.bluelist li::marker {
  color: black; /* Define a cor da bolinha como preta */
}

ul.colorlist li{
  font-weight: bold;
}

ul.colorlist li:nth-child(1) {
  color: #591B98; /* Cor do texto do item 1 */
}

ul.colorlist li:nth-child(2) {
  color: #E5245E; /* Cor do texto do item 2 */
}

ul.colorlist li:nth-child(3) {
  color: #E95E10; /* Cor do texto do item 3 */
}

ul.colorlist li::marker {
  color: black; /* Define a cor da bolinha como preta */
}

footer {
  color: #333333;
  text-align: center;
  padding-bottom: 41px;
  line-height: 150%;
}

footer img {
  vertical-align: middle;
  width: 16px;
  height: 16px;
}