* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Open Sans", serif;
  line-height: 120%;
}

body{
  background-color: #F5F4F0;

}

#page {
  box-sizing: border-box;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

img {
  border-radius: 28px;
  width: 100%;
  vertical-align: top;
}

main {
  padding: 24px;
}

p{
  color: #333333;
  text-align: left;
  font-size: 16px;  
}

#discover{
  margin-bottom: 64px; 
}

hr {
  border: 0; /* Remove a borda padrão */
  height: 1px; /* Define a altura da linha */
  background-color: #D9D9D9; /* Cor da linha */
  width: 100%; /* Largura da linha */
  margin: 40px auto; /* Espaçamento em cima e embaixo, centralizando */
}

h1 {
  line-height: 136%; 
  font-size: 36px;  
  margin-bottom: 40px;
}

h2 {
  line-height: 136%; 
  font-size: 32px;
}

h3 {
  font-size: 28px; 
  margin-top: 30px;
  margin-bottom: 15px; 
  margin-left: 10px;
}

h4 {
  line-height: 135%;  
  font-size: 16px;
  font-weight: bold;
  color: #E1624F;
  text-transform: uppercase;
  margin-top: 64px;  
  margin-bottom: 5px;
}

h5{
  font-size: 16px;  
}

h1, h2, h3, h5 {
  color: #1B1B1B;
}

.subtitle {
  font-size: 16px;
  font-style: italic; 
  text-align: center;
  color: #333333;
  padding: 24px 20px 00px 20px;
}

ul{  
  padding-left: 24px;
}

ul.bluelist li{  
  color: #0C51A7;
  font-weight: bold;
}

ul.bluelist li::marker {
  color: black; /* Define a cor da bolinha como preta */
}

ul.colorlist li{
  font-weight: bold;
}

ul.colorlist li:nth-child(1) {
  color: #591B98; /* Cor do texto do item 1 */
}

ul.colorlist li:nth-child(2) {
  color: #E5245E; /* Cor do texto do item 2 */
}

ul.colorlist li:nth-child(3) {
  color: #E95E10; /* Cor do texto do item 3 */
}

ul.colorlist li::marker {
  color: black; /* Define a cor da bolinha como preta */
}

footer {
  color: #333333;
  text-align: center;
  padding-bottom: 41px;
  line-height: 150%;
}

footer img {
  vertical-align: middle;
  width: 16px;
  height: 16px;
}